#editor {
  border: 1px solid #ddd;
  border-radius: 4px;
  border-style: hidden;
  font-family: 'Fira Code', monospace;
  background-color: #F7F7F8;
  padding: 1rem;
  font-size:0.8rem;
}

.cm-editor.cm-focused { 
  outline: 1px solid transparent; 
}